type: AWS::Route53::RecordSet
{% if depends_on %}
dependsOn: {{depends_on}}
{% endif %}
properties:
  HostedZoneName: {{zone}}
  Name: {{name}}
  Type: {{type}}
  TTL: 60
  ResourceRecords:
  - Fn::GetAtt:
      - {{instance}}
      - {{property}}
