type: AWS::Route53::RecordSet
{% if depends_on %}
dependsOn: {{depends_on}}
{% endif %}
properties:
{% if zone_name %}
  HostedZoneName: {{zone_name}}
{% endif %}
{% if zone_ref %}
  HostedZoneId:
    Ref: {{zone_ref}}
{% endif %}
  Name: {{name}}
  Type: {{type}}
  TTL: 60
  ResourceRecords:
    - Fn::GetAtt:
        - {{instance}}
        - {{property}}
