type: AWS::EC2::Instance
{% if depends_on %}
dependsOn: {{depends_on}}
{% endif %}
properties:
  InstanceType:
    Ref: {{instance_type}}
  KeyName:
    Ref: KeyName
{% if instance_profile %}
  IamInstanceProfile:
    Ref: {{instance_profile}}
{% endif %}
  ImageId:
    Fn::FindInMap:
      - {{image_map}}
      - Ref: AWS::Region
      - AMI
{% if security_groups %}
  SecurityGroupIds:
    - Fn::GetAtt:
        - VPC
        - DefaultSecurityGroup
{% for group in security_groups %}
    - Ref: {{group}}
{% endfor %}
{% endif %}
{% if source_dest is defined %}
  SourceDestCheck: {{source_dest}}
{% endif %}
  SubnetId:
    Ref: {{subnet}}
  Tags:
    - Key: Name
      Value: {{name}}
{% if roles %}
    - Key: Roles
      Value: {{roles|join(',')}}
{% endif %}
{% if tags %}
{% for k, v in tags.items() %}
    - Key: {{k}}
      Value: {{v}}
{% endfor %}
{% endif %}
  UserData:
    Fn::Base64:
      Fn::Join:
        - ""
        -
          - '#cloud-config\n'
          - 'repo_update: true\n'
          - 'runcmd:\n'
{% if not has_salt or salt_master %}
          - ' - curl -L https://raw.githubusercontent.com/saltstack/salt-bootstrap/stable/bootstrap-salt.sh -o bootstrap-salt.sh\n'
          - ' - sudo sh bootstrap-salt.sh -P -X {{ '-M' if salt_master else ''}} -i {{name}} git 2015.8\n'
{% endif %}
{% if salt_master %}
          - " - \"sudo sed -i -e 's/^#auto_accept: False$/auto_accept: True/' /etc/salt/master\n\""
{% endif %}
          - 'output: { all : ''| tee -a /var/log/cloud-init-output.log'' }\n'
