type: AWS::EC2::NetworkInterface
properties:
  SubnetId:
    Ref: {{subnet}}
  PrivateIpAddress: {{ip_address}}
  GroupSet:
{% for group in security_groups %}
    - Ref: {{group}}
{% endfor %}
{% if source_dest is defined %}
  SourceDestCheck: {{source_dest}}
{% endif %}
