type: AWS::EC2::NetworkInterface
properties:
  SubnetId:
    Ref: {{subnet}}
{% if ip_address %}
  PrivateIpAddress: {{ip_address}}
{% endif %}
  GroupSet:
{% for group in security_groups %}
    - Ref: {{group}}
{% endfor %}
{% if source_dest is defined %}
  SourceDestCheck: {{source_dest}}
{% endif %}
{% if tags %}
  Tags:
{% for k, v in tags.items() %}
    - Key: {{k}}
      Value: {{v}}
{% endfor %}
{% endif %}
